.other{margin-left: 55px; margin-top: 20px;
        .profile_img{position: absolute; left: -55px; top: -5px; width: 35px; height: 35px;}
        .profile_name{display: block; font-weight: bold; margin: 5px;}
        .other .chat_time{position: absolute; right: -30px; bottom: -5px; width: 50px; opacity: 0.5;}
}